# Python
__pycache__/
*.py[cod]
*$py.class
*.cpython-310.pyc
.venv/
venv/
env/

# Go / Air
tmp/
backend/tmp/
bin/
backend/storage/*

# Node
node_modules/
dist/

# Environments
.env
!.env.example

# Docker
*.log

# OS
.DS_Store
